---

layout: single_column_layout
hero_text: Glossary
title: Glossary

---

All the A's

     {% assign words = site.data.glossary.glossary | sort: "order" %}
     {% for item in words %}
     {% if item.order == "a" %}
   
     <STRONG>
          {{item.word}}            </br>
     </STRONG>
          {{item.meaning}}         </br>
          {{item.contributor_id}}  </br></br>
     
     {% endif %}
     {% endfor %}

All the B's

     {% assign words = site.data.glossary.glossary | sort: "order" %}
     {% for item in words %}
     {% if item.order == "b" %}
   
     <STRONG>
          {{item.word}}            </br>
     </STRONG>
          {{item.meaning}}         </br>
          {{item.contributor_id}}  </br></br>
     
     {% endif %}
     {% endfor %}
