---

layout: single_column_layout
hero_text: Glossary
title: Glossary

---

     {% assign words = site.data.glossary.glossary | sort: "order" %}
     {% for item in words %}
   
     <STRONG>
          {{item.word}}            </br>
     </STRONG>
          {{item.meaning}}         </br>
          {{item.contributor_id}}  </br></br>

     {% endfor %}

     
    </br></br>
    <strong>All runs</strong>
  </br></br>

  <table class="tg">
       <thead>
         <tr>
          <th class="tg-9abe">Athlete</th>
          <th class="tg-9abe">Date</th>
          <th class="tg-9abe">Duration</th>
         </tr>
       </thead>
  
       {% assign results_by_date = site.data.results.runs | sort: "duration" %}
       {% for run in results_by_date %}
      
       <tbody>
         <tr>
          <td class="tg-fymr">{{run.athlete}}</td>
          <td class="tg-fymr">{{run.date}}</td>
          <td class="tg-fymr">{{run.duration}}</td>
       </tbody>
      
       {% endfor %}
  
       </table>
