---

layout: single_column_layout
hero_text: The A to Z of data
title: Glossary

---

     {% assign letter_group = site.data.glossary.glossary | group_by: 'letter_id' %}

     {% for group in letter_group %}
     <a href='index.html#{{group.name}}'>{{group.name}}</a>&nbsp;  
     {% endfor %}

     {% for group in letter_group %}
     
     <section id="{{group.name}}">
     <h2>{{group.name}}</h2>
     </section>
     
     {% for item in group.items %}
     
     <p>{{item.word}}</p>
     <p>{{item.meaning}}</p>
     <p>{{item.contributor_id}}</p>

     {% endfor %}
     {% endfor %}
