---
title: Trafford Trails Running Events
layout: basic_page_layout
hero_text: Our events - urban trails in rural settings
---

     <div class="row"> 

     <div class="col-1 menu">
     <div class="void"> </div>

     </div>

     {% include include_arcticleblock.html arcticleblock_id="TT5" %}
     {% include include_arcticleblock.html arcticleblock_id="league" %}
     
     <div class="col-1 menu">
     <div class="void"> </div>

     </div>
     </div>

     <div class="row">  

     <div class="col-1 menu">
     <div class="void"> </div>

     </div>

     {% include include_arcticleblock.html arcticleblock_id="trailrunning" %}
     {% include include_arcticleblock.html arcticleblock_id="dragons" %}

     <div class="col-1 menu">
     <div class="void"> </div>

     </div>
     </div>