<div class="row"> 
     
     <div class="col-4 menu">            
      
          <a class="left" href="/">What are speak events?</a>

     </div>

     <div class="col-4 menu">          

          <a class="middle" href="/event-participation/">How can I get involved?</a> 

     </div>
  
     <div class="col-4 menu">            
    
          <a class="right" href="/event-schedule/">When is the next event?</a> 
          
     </div>
     
</div>

<center>
  Helping the world to find its voice 15 minutes at a time. 
</center>
