<div class="row"> 

    <div class="col-1 menu">
    <div class="void"> </div>
    </div>

    <div class="col-11 menu">
        
 <nav>

    {% for link in site.data.navigation %}
    
    {% assign class = "" %}
    
    {% if link.link == page.url %}
    
    {% assign class = class | append: " active" %}
    
    {% endif %}
    
    <a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
    
    {% endfor %}
    
</nav>
            
    </div>
    <div class="col-1 menu">
    <div class="void"></div>
    </div>

</div>
