<div class="row"> 


    <div class="col-4 menu">            

         <a class="left" href="{{ site.baseurl }}">Events</a>

    </div>



    <div class="col-4 menu">          

         <a class="middle" href="{{ site.baseurl }}/results/">Results</a> 

    </div>

 

    <div class="col-4 menu">            

         <a class="right" href="{{ site.baseurl }}/news/">News</a> 
      
    </div>  

</div>


<center>

<strong>Urban trails in rural settings.</strong>

</br>

For more information email us at traffordtrails@gmail.com

</center>