<!-- 

<div class="row"> 


    <div class="col-4 menu">            

         <a class="left" href="{{ site.baseurl }}">Glossary</a>

    </div>



    <div class="col-4 menu">          

         <a class="middle" href="{{ site.baseurl }}/vision/">Vision</a> 

    </div>

 

    <div class="col-4 menu">            

         <a class="right" href="{{ site.baseurl }}/contribute/">Contribute</a> 
      
    </div>  

</div>

-->


<div text-align="right">
<strong>Data for everyone, no fuss.</strong>
</div>
</br>




