</br>

<h3>
   {{include.tag  | capitalize}} words ({{ words | size }} entries)
</h3> 
    
{% include include_filters.html %}
{% include include_quick_links.html %}

{% for group in filter_group %}          

                    <section id="{{group.name}}">  
                    <table width="100%">
                    <tr>
                          <td style="text-align:left"> <h2>{{group.name}}</h2> </td>
                          <td style="text-align:right"> <a href='index.html#top'>Top of page</a> </td>
                    </tr>
                    </table> 
                    </section>

  {% for item in group.items %} 
      <h3>
        {{item.word}}
      </h3>
      <p>
        {{item.meaning}}
      </p>
  {% endfor %}

{% endfor %}
