
<div class="col-6 menu">            
<div class="article">
  
<div class="speak-heading">
          Backround
     </div>
     
     Our vision is to help the world find its voice. A human voice, spoken in public, with confidence and with purpose.
     
     </br></br>You don't just become a great public speaker over night or deliver a word class TED talk by accident.  
     It takes knowledge, practice and feedback to master the skill. 
     
     </br></br>If you bring the ideas we'll give you the knowledge, a stage to practice and host of listeners eager to provide you with the feedback you will need to improve.

     </div>
     </div>
